derived_rig_cohomology.aux
derived_rig_cohomology.bbl
derived_rig_cohomology.blg
derived_rig_cohomology.fdb_latexmk
derived_rig_cohomology.fls
derived_rig_cohomology.log
derived_rig_cohomology.out
derived_rig_cohomology.synctex.gz
derived_rig_cohomology.toc
